html, body{
	background-color: #26141b;
}

.hcont{
	background-color: #6e354c;
}

footer{
	background-color: #6e354c;
}

.menu{
	border: 3px solid #f58cbb;
}

.contcont .stext, .menuwin .stext{
	color: #f58cbb;
}

.menuwin{
	border-color: #f58cbb;
}

.menuwin a{
	color: white;
	border-color: #f58cbb;
}

.menuwin a:hover{
	color: #f58cbb;
}

svg line {
  stroke: #f58cbb;
}

.soundbut{
	border-color: #f58cbb;
}