html, body{
	background-color: #010636;
}

.hcont{
	background-color: #002c85;
}

footer{
	background-color: #002c85;
}

.menu{
	border: 3px solid #B8860B;
}

.contcont .stext, .menuwin .stext{
	color: #B8860B;
}

.menuwin{
	border-color: #B8860B;
}

.menuwin a{
	color: white;
	border-color: #B8860B;
}

.menuwin a:hover{
	color: #B8860B;
}

svg line {
  stroke: #B8860B;
}

.soundbut{
	border-color: #B8860B;
}